{% extends "base.html" %}

{% block test_css %}
<style type="text/css">
.w {margin-bottom: -15%;}
.wu {margin-bottom: -1%;}
div.p { color: grey; margin-bottom: 1em; margin-top: 1em;}
</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col s12">
    <div class="card-panel">
    <div class="row">
	      <!--Input text-->
		  <div class="col s12 row">
		      <div class="row">
		        <div class="input-field col s12 left">
		          {% for par in t['json'] %}
			        <div class="row">
    				{% set oloop = loop %}
			        {% for w, value in par.items() %}
			        {% if w=="" %}
			        <div class="p"></div>
			        {% else %}
			        <div class="wu row col s4 m3 l2">
                      <div class="w input-field col s12">
		                <input id="p{{ oloop.index }}w{{ loop.index }}" type="text" class="validate">
		                <label id="p{{ oloop.index }}l{{ loop.index }}" for="p{{ oloop.index }}w{{ loop.index }}">{{ w }}</label>
		              </div>
		            </div>
		            {% endif %}
		          	{% endfor %}
		          	</div>
		          {% endfor %}
		        </div>
		      </div>
		  </div>
	  </div>
	</div>
	</div>
</div>
{% endblock %}

{% block test_js %}
<script type="text/javascript">
		numpars={{ parWArr|safe }}


		$(function() {
		    $('#save').click(postDekoded());
		});

		$(document).ready(function(){
		   //init lang select field
		   $('select').material_select();
   		    {% for par in t['json'] %}
		        {% set oloop = loop %}
		        {% for w, value in par.items() %}
			    {% if not w=="" and value!=[] %}
			    	$('#p{{ oloop.index }}w{{ loop.index }}').autocomplete({
					    data: {
					      {% for v in value %}
					       "{{v}}": null,
					      {% endfor %}
					    },
					    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
					    onAutocomplete: function(val) {
					      // Callback function when value is autcompleted.
					    },
					    minLength: 0, // The minimum length of the input for the autocomplete to start. Default: 1.
					});
			    {% endif %}
				{% endfor %}
			{% endfor %}
		});
</script>
{% endblock %}