{% extends "base.html" %}

{% block test_css %}
<style type="text/css">
.w {margin-bottom: -15%;}
.wu {margin-bottom: -1%;}
div.p { color: grey; margin-bottom: 1em; margin-top: 1em;}
</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col s12">
    <div class="card-panel">
    <div class="row">
	      <!--Input text-->
		  <div class="col s12 row">
		      <div class="row">
		        <div class="input-field col s12 left">
		          {% for par in t['json'] %}
			        <div class="row">
    				{% set oloop = loop %}
			        {% for w, value in par.items() %}
			        {% if w=="" %}
			        <div class="p"></div>
			        {% else %}
			        <div class="wu row col s4 m3 l2">
                      <div class="w input-field col s12">
		                <input id="p{{ oloop.index }}w{{ loop.index }}" type="text" class="validate">
		                <label id="p{{ oloop.index }}l{{ loop.index }}" for="p{{ oloop.index }}w{{ loop.index }}">{{ w }}</label>
		              </div>
		            </div>
		            {% endif %}
		          	{% endfor %}
		          	</div>
		          {% endfor %}
		        </div>
		      </div>
		  </div>
	  </div>
	</div>
	</div>
</div>
{% endblock %}

{% block test_js %}
<script type="text/javascript">
		numpars={{ parWArr|safe }}
		function download(filename, text) {
			var element = document.createElement('a');
			element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			element.setAttribute('download', filename);

			element.style.display = 'none';
			document.body.appendChild(element);

			element.click();

			document.body.removeChild(element);
		}

		function json2html(json) {
			//transform to par-word-json
			var str="";
			var lastBool=false;
			for(var par in json){
				if(json[par].length==0){continue;}
				str+='<div class="par">';
				for(var w in json[par]){
					str+='<div class="w">'+w+'<span>';
					if (par[w]) str+=par[w];
					str+='</span></div>';
				}
				str+='</div>'
			}
			return str
		}

		function html2json() {
			//transform to par-word-json
			var str="";
			var lastBool=false;
			var pars = numpars["pars"];
			var par =0;
			var json=[]
			for(var p=1;p<=pars.length;p++){
				var par={}
				for (var w=1;w<=pars[p-1];w++) {
					par[$("#p"+p+"l"+w).html()]={"w":$("#p"+p+"w"+w).val()}
					if($("#p"+p+"e"+w).val())
						par[$("#p"+p+"l"+w).html()]["e"]=$("#p"+p+"e"+w).val();
				}
				json.push(par);
			}
			console.log(JSON.stringify(json))
			return json
		}

		$(function() {
		    $('#save').click(function() {
		        var name = $('#txtUsername').val();
		        var lang = $('#txtPassword').val();
		        var json = html2json();
		        $.ajax({
		            url: '',
		            data:JSON.stringify({"name":name,"lang":lang,"json":json}),
		            contentType: 'application/json; charset=utf-8',   
		            dataType: 'json',
		            type: 'POST',
		            success: function(response) {
		                Materialize.toast('Formated text posted and saved.', 7000, 'rounded')
		            },
		            error: function(error) {
		                Materialize.toast('Some error occured...', 7000, 'rounded')
		            }
		        });
		    });
		});

		$(document).ready(function() {
		   //init lang select field
		   $('select').material_select();
   		    {% for par in t['json'] %}
		        {% set oloop = loop %}
		        {% for w, value in par.items() %}
			    {% if not w=="" and value!=[] %}
			    	$('#p{{ oloop.index }}w{{ loop.index }}').autocomplete({
					    data: {
					      {% for v in value %}
					       "{{v}}": null,
					      {% endfor %}
					    },
					    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
					    onAutocomplete: function(val) {
					      // Callback function when value is autcompleted.
					    },
					    minLength: 0, // The minimum length of the input for the autocomplete to start. Default: 1.
					});
			    {% endif %}
				{% endfor %}
			{% endfor %}
		});
</script>
{% endblock %}