{% extends "base.html" %}

{% block test_css %}
<style type="text/css">
.w {margin-bottom: -15%;}
.wu {margin-bottom: -1.5%;}
div.p { color: grey; margin-bottom: 1.3em; margin-top: 1.3em; width: 100%;}
.autocomplete-content {
    position: absolute;
    display: inline-block;
}
.ttt {
	position: relative;
}
</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col s12">
    <div class="card-panel">
    <div class="row">
	      <!--Input text-->
		  <div class="col s12 row">
		        <div class="input-field col s12 left">
		          {% for par in t['json'] %}
    				{% set oloop = loop %}
    				<div class="ttt row">
			        {% for w in par %}
			        {% if w!="" %}
			        {% if loop.index>=1 and loop.index0%6==0 %} </div><div class="ttt row">{% endif %}
			        <div class="wu col s2">
                      <div class="w input-field col s12">
		                <input id="p{{ oloop.index }}w{{ loop.index }}" type="text" class="validate">
		                <label id="p{{ oloop.index }}l{{ loop.index }}" for="p{{ oloop.index }}w{{ loop.index }}">{{ w }}</label>
		              </div>
		            </div>
		            {% endif %}
		          	{% endfor %}
		            </div>
			        <div class="p"></div>
		          {% endfor %}
		        </div>
		  </div>
          <div class="col s2 offset-s5">
	          <a class="waves-effect waves-light btn" id="save" >Save</a>
		  </div>
	  </div>
	</div>
	</div>
</div>
{% endblock %}

{% block test_js %}
<script type="text/javascript">
		numpars={{ parWArr|safe }}

		$(function() {
		    $('#save').click(postDekoded());
		});

		$(document).ready(function(){
		   //init lang select field
		   $('select').material_select();
   		    {% for par in t['json'] %}
		        {% set oloop = loop %}
		        {% for w in par %}
			    {% if w!="" and par[w]["w"] %}
			    	$('#p{{ oloop.index }}w{{ loop.index }}').autocomplete({
					    data: {
                            {% for sw in par[w]["w"] %}'{{ sw }}' : null,{% endfor %}
					    },
					    limit: 20,
					    onAutocomplete: function(val) {
					      // Callback function when value is autcompleted.
					    },
					    minLength: 0,
					});
			    {% endif %}
				{% endfor %}


			{% endfor %}
		});
</script>
{% endblock %}