{% extends "base.html" %}

{% block test_css %}
<style type="text/css">
.fromW{
  font-style: bold;
  display: inline;
  font-size: 13px;
}
.toW{
  display: inline;
  font-size: 13px;
}
.firstLetter{
  font-size: 15px;
  color: #000;
  font-weight: bold;
  display: inline;
}
</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div>
        <div>
          {% for par in body %}
            <p>
            {% for w in par %}{{w}} {% endfor %}
            </p>
          {% endfor %}
        </div>
        <hr>
        <div>
          {% for letter, words in foot.items() %}
          <span class="firstLetter">{{ letter }}</span>
          {% for w, l in words.items() %}
            <span class="fromW">{{w}}:</span><span class="toW">{% for t in l %}{{t}}{% endfor %}; </span>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}

{% block test_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
  
  
</script>
{% endblock %}